body {
    padding-top: 70px; /* Space for the fixed navbar */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar, .footer {
    background-color: #000;
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px 0;
}
.navbar-text {
    color: white;
}
.sidebar {
    width: 200px;
    position: fixed;
    top: 70px; /* Space for the fixed navbar */
    left: 0;
    height: 100%;
    background-color: #f8f9fa;
    padding-top: 20px;
}
.content {
    margin-left: 220px; /* Width of the sidebar + margin */
    padding: 20px;
    flex: 1;
}
